/.appveyor.yml export-ignore
/ci export-ignore
/docs export-ignore
/.doctrine-project.json export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/psalm.xml.dist export-ignore
/psalm-strict.xml export-ignore
/run-all.sh export-ignore
/SECURITY.md export-ignore
/static-analysis export-ignore
/tests export-ignore
/UPGRADE.md export-ignore
