language: php

sudo: false

cache:
    directories:
        - vendor
        - $HOME/.composer/cache

php:
  - 5.6
  - 7.0
  - 7.1
  - nightly

env:
  - DB=mysql
  - DB=pgsql POSTGRESQL_VERSION=9.1
  - DB=pgsql POSTGRESQL_VERSION=9.2
  - DB=pgsql POSTGRESQL_VERSION=9.3
  - DB=pgsql POSTGRESQL_VERSION=9.4
  - DB=sqlite
  - DB=mysqli

matrix:
  fast_finish: true
  include:
    - php: 5.6
      env: DB=mariadb
      addons:
        mariadb: 10.0
    - php: 7.0
      env: DB=mariadb
      addons:
        mariadb: 10.0
    - php: 7.1
      env: DB=mariadb
      addons:
        mariadb: 10.0
    - php: nightly
      env: DB=mariadb
      addons:
        mariadb: 10.0
    - php: hhvm
      sudo: true
      dist: trusty
      group: edge # until the next Trusty update
      addons:
        mariadb: 10.0
      env: DB=mariadb

    - php: 5.6
      env: DB=mariadb
      addons:
        mariadb: 10.1
    - php: 7.0
      env: DB=mariadb
      addons:
        mariadb: 10.1
    - php: 7.1
      env: DB=mariadb
      addons:
        mariadb: 10.1
    - php: nightly
      env: DB=mariadb
      addons:
        mariadb: 10.1
    - php: hhvm
      sudo: true
      dist: trusty
      group: edge # until the next Trusty update
      addons:
        mariadb: 10.1
      env: DB=mariadb

    - php: 5.6
      sudo: true
      dist: trusty
      group: edge # until the next update
      addons:
        postgresql: "9.5"
      services:
        - postgresql
      env: DB=pgsql POSTGRESQL_VERSION=9.5
    - php: 7.0
      sudo: true
      dist: trusty
      group: edge # until the next update
      addons:
        postgresql: "9.5"
      services:
        - postgresql
      env: DB=pgsql POSTGRESQL_VERSION=9.5
    - php: 7.1
      sudo: true
      dist: trusty
      group: edge # until the next update
      addons:
        postgresql: "9.5"
      services:
        - postgresql
      env: DB=pgsql POSTGRESQL_VERSION=9.5
    - php: nightly
      sudo: true
      dist: trusty
      group: edge # until the next update
      addons:
        postgresql: "9.5"
      services:
        - postgresql
      env: DB=pgsql POSTGRESQL_VERSION=9.5

    - php: hhvm
      sudo: true
      dist: trusty
      group: edge # until the next update
      addons:
        apt:
          packages:
            - mysql-server-5.6
            - mysql-client-core-5.6
            - mysql-client-5.6
      services:
        - mysql
      env: DB=mysql
    - php: hhvm
      sudo: true
      dist: trusty
      group: edge # until the next update
      addons:
        apt:
          packages:
            - mysql-server-5.6
            - mysql-client-core-5.6
            - mysql-client-5.6
      services:
        - mysql
      env: DB=mysqli
    - php: hhvm
      sudo: true
      dist: trusty
      group: edge # until the next update
      addons:
        postgresql: "9.1"
      services:
        - postgresql
      env: DB=pgsql POSTGRESQL_VERSION=9.1
    - php: hhvm
      sudo: true
      dist: trusty
      group: edge # until the next update
      addons:
        postgresql: "9.2"
      services:
        - postgresql
      env: DB=pgsql POSTGRESQL_VERSION=9.2
    - php: hhvm
      sudo: true
      dist: trusty
      group: edge # until the next update
      addons:
        postgresql: "9.3"
      services:
        - postgresql
      env: DB=pgsql POSTGRESQL_VERSION=9.3
    - php: hhvm
      sudo: true
      dist: trusty
      group: edge # until the next update
      addons:
        postgresql: "9.4"
      services:
        - postgresql
      env: DB=pgsql POSTGRESQL_VERSION=9.4
    - php: hhvm
      sudo: true
      dist: trusty
      group: edge # until the next update
      addons:
        postgresql: "9.5"
      services:
        - postgresql
      env: DB=pgsql POSTGRESQL_VERSION=9.5
    - php: hhvm
      sudo: true
      dist: trusty
      group: edge # until the next update
      env: DB=sqlite
  allow_failures:
    - php: hhvm
    - php: nightly

addons:
  postgresql: '9.4'

install:
  - travis_retry composer install

before_script:
  - if [ '$DB' = 'pgsql' ]; then sudo service postgresql stop; sudo service postgresql start $POSTGRESQL_VERSION; fi

script: ./vendor/bin/phpunit --configuration tests/travis/$DB.travis.xml
