parameters:
    level: 7
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests
    autoload_files:
        - %currentWorkingDirectory%/tests/phpstan-polyfill.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        # extension not available
        - '~^(Used )?(Function|Constant) sasql_\S+ not found\.\z~i'

        # https://bugs.php.net/bug.php?id=78126
        - '~^Call to an undefined method PDO::sqliteCreateFunction\(\)\.\z~'

        # legacy remnants from doctrine/common
        - '~^Class Doctrine\\Common\\(Collections\\Collection|Persistence\\Proxy) not found\.\z~'
        - '~^.+ on an unknown class Doctrine\\Common\\(Collections\\Collection|Persistence\\Proxy)\.\z~'

        # may not exist when pdo_sqlsrv is not loaded but PDO is
        - '~^Access to undefined constant PDO::SQLSRV_ENCODING_BINARY\.\z~'

        # weird class name, represented in stubs as OCI_(Lob|Collection)
        - '~unknown class OCI-(Lob|Collection)~'

        # https://github.com/doctrine/dbal/pull/3582/files#r290847062
        -
            message: '~Parameter #3 \$type of method Doctrine\\DBAL\\Driver\\Statement::bindValue\(\) expects int, string given\.~'
            path: %currentWorkingDirectory%/tests/Functional/DataAccessTest.php

        # https://github.com/JetBrains/phpstorm-stubs/pull/766
        -
            message: '~^Strict comparison using === between true and null will always evaluate to false\.$~'
            path: %currentWorkingDirectory%/src/Driver/Mysqli/Result.php

        # The ReflectionException in the case when the class does not exist is acceptable and does not need to be handled
        - '~^Parameter #1 \$argument of class ReflectionClass constructor expects class-string<T of object>\|T of object, string given\.$~'

        # https://github.com/phpstan/phpstan/issues/3132
        -
            message: '~^Call to function in_array\(\) with arguments Doctrine\\DBAL\\Schema\\Column, array<string> and true will always evaluate to false\.$~'
            path: %currentWorkingDirectory%/src/Schema/Table.php

        # https://github.com/phpstan/phpstan/issues/3133
        -
            message: '~^Cannot cast array<string>\|bool\|string\|null to int\.$~'
            path: %currentWorkingDirectory%/src/Tools/Console/Command/RunSqlCommand.php

        # Requires a release of https://github.com/JetBrains/phpstorm-stubs/pull/732
        -
            message: '~^Access to undefined constant PDO::PGSQL_ATTR_DISABLE_PREPARES\.$~'
            paths:
                - %currentWorkingDirectory%/src/Driver/PDOPgSql/Driver.php
                - %currentWorkingDirectory%/tests/Driver/PDOPgSql/DriverTest.php

        # False Positive
        - '~Strict comparison using === between 1 and 2 will always evaluate to false~'

        # Needs Generics
        - '~Method Doctrine\\DBAL\\Schema\\SchemaDiff::getNewTablesSortedByDependencies\(\) should return array<Doctrine\\DBAL\\Schema\\Table> but returns array<object>.~'

        # https://github.com/phpstan/phpstan/issues/3134
        -
            message: '~^Call to static method PHPUnit\\Framework\\Assert::assertSame\(\) with Doctrine\\DBAL\\Types\\Type and Doctrine\\DBAL\\Types\\Type will always evaluate to true\.$~'
            path: %currentWorkingDirectory%/tests/Types/TypeRegistryTest.php

        # https://github.com/phpstan/phpstan-strict-rules/issues/103
        -
            message: '~^Construct empty\(\) is not allowed. Use more strict comparison\.~'
            paths:
                - %currentWorkingDirectory%/src/Driver/*/*Connection.php
                - %currentWorkingDirectory%/src/Driver/*/Driver.php
                - %currentWorkingDirectory%/src/Driver/AbstractOracleDriver/EasyConnectString.php
                - %currentWorkingDirectory%/src/Platforms/*Platform.php
                - %currentWorkingDirectory%/src/Schema/*SchemaManager.php

        # In some namespaces, we use array<string,mixed>, some elements of which are actually boolean
        -
            message: '~^Only booleans are allowed in .*, mixed given~'
            paths:
                - %currentWorkingDirectory%/src/Driver/*/Driver.php
                - %currentWorkingDirectory%/src/Platforms/*Platform.php
                - %currentWorkingDirectory%/src/Schema/*SchemaManager.php

        # Some APIs use variable method calls internally
        -
            message: '~^Variable method call on .*~'
            paths:
                - %currentWorkingDirectory%/src/Schema/AbstractSchemaManager.php
                - %currentWorkingDirectory%/src/Schema/Column.php

        # https://github.com/phpstan/phpstan/issues/3146
        -
            message: '~^Only numeric types are allowed in -, int<1, max>\|false given on the left side\.~'
            paths:
                - %currentWorkingDirectory%/src/Platforms/SQLServer2012Platform.php

        # Temporaily suppressed during up-merging an upgrade PHPStan 0.12
        - '~^Unable to resolve the template type ExpectedType in call to method static method PHPUnit\\Framework\\Assert::assertInstanceOf\(\)$~'
        - '~^Unable to resolve the template type RealInstanceType in call to method PHPUnit\\Framework\\TestCase::getMockClass\(\)$~'

        # Temporaily suppressed during up-merging an upgrade PHPStan 0.12
        -
            message: '~^Parameter #1 \$expected of static method PHPUnit\\Framework\\Assert::assertInstanceOf\(\) expects class-string<object>, string given\.$~'
            path: %currentWorkingDirectory%/tests/Driver/AbstractDriverTest.php

        # Temporaily suppressed during up-merging an upgrade PHPStan 0.12
        -
            message: '~^Call to an undefined method Doctrine\\DBAL\\Driver::createDatabasePlatformForVersion\(\)\.$~'
            path: %currentWorkingDirectory%/tests/Driver/AbstractDriverTest.php

        # Caused by phpdoc annotations intended for Psalm
        -
            message: '~Unable to resolve the template type T in call to method static method Doctrine\\DBAL\\DriverManager::getConnection\(\)~'
            paths:
                - %currentWorkingDirectory%/src/Id/TableGenerator.php
                - %currentWorkingDirectory%/src/Schema/SqliteSchemaManager.php
                - %currentWorkingDirectory%/tests/ConnectionTest.php
                - %currentWorkingDirectory%/tests/DriverManagerTest.php
                - %currentWorkingDirectory%/tests/Functional/ConnectionTest.php
                - %currentWorkingDirectory%/tests/Functional/Driver/PDOPgsqlConnectionTest.php
                - %currentWorkingDirectory%/tests/Functional/Driver/SQLAnywhere/ConnectionTest.php
                - %currentWorkingDirectory%/tests/Functional/Driver/SQLAnywhere/StatementTest.php
                - %currentWorkingDirectory%/tests/Functional/ExceptionTest.php
                - %currentWorkingDirectory%/tests/Functional/MasterSlaveConnectionTest.php
                - %currentWorkingDirectory%/tests/Functional/PortabilityTest.php
                - %currentWorkingDirectory%/tests/Functional/Schema/MySqlSchemaManagerTest.php
                - %currentWorkingDirectory%/tests/Schema/Synchronizer/SingleDatabaseSynchronizerTest.php
                - %currentWorkingDirectory%/tests/TestUtil.php

        -
            message: '~Method Doctrine\\DBAL\\Driver\\PDOSqlsrv\\Connection\:\:lastInsertId\(\) should return string but returns string\|false\|null\.~'
            paths:
                - %currentWorkingDirectory%/src/Driver/PDOSqlsrv/Connection.php

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
