parameters:
    level: 8
    phpVersion: 80200
    paths:
        - src
        - static-analysis
        - tests
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        # https://github.com/phpstan/phpstan-strict-rules/issues/103
        -
            message: '~^Construct empty\(\) is not allowed. Use more strict comparison\.~'
            paths:
                - src/Connections/PrimaryReadReplicaConnection.php
                - src/Driver/*/Driver.php
                - src/Driver/AbstractOracleDriver/EasyConnectString.php
                - src/Platforms/*Platform.php
                - src/Schema/*SchemaManager.php

        # In some namespaces, we use array<string,mixed>, some elements of which are actually boolean
        -
            message: '~^Only booleans are allowed in .*, mixed given~'
            paths:
                - src/Platforms/*Platform.php
                - src/Schema/*SchemaManager.php

        # Some APIs use variable method calls internally
        -
            message: '~^Variable method call on .*~'
            paths:
                - src/Schema/Column.php

        # TODO: remove this once the support for PHP 7 is dropped
        -
            message: '~^Strict comparison using !== between int and false will always evaluate to true\.$~'
            paths:
                - src/Driver/OCI8/Result.php
        -
            message: '~^Unreachable statement - code above always terminates\.$~'
            paths:
                - src/Driver/OCI8/Result.php

        # https://github.com/phpstan/phpstan/issues/4679
        -
            message: '~^Cannot call method writeTemporary\(\) on OCILob\|null\.$~'
            paths:
                - src/Driver/OCI8/Statement.php

        -
            message: '~Method Doctrine\\DBAL\\Driver\\Mysqli\\Result::rowCount\(\) should return int but returns int(:?<0, max>)?\|string\.~'
            paths:
                - src/Driver/Mysqli/Result.php

        # Removing the (int) cast will make Psalm unhappy.
        -
            message: '~^Casting to int something that''s already int\.$~'
            paths:
                - src/Driver/Mysqli/Exception/ConnectionError.php
                - src/Driver/Mysqli/Exception/ConnectionFailed.php
                - src/Driver/Mysqli/Exception/InvalidCharset.php
                - src/Driver/Mysqli/Exception/StatementError.php

        # We're testing with invalid input.
        -
            message: '~^Unable to resolve the template type T in call to method static method Doctrine\\DBAL\\DriverManager::getConnection\(\)~'
            path: tests/DriverManagerTest.php
        -
            message: '~array{driver: ''invalid_driver''} given\.$~'
            path: tests/DriverManagerTest.php
        -
            message: '~array{driver: ''pdo_sqlite'', memory: true, wrapperClass: ''stdClass''} given\.$~'
            path: tests/DriverManagerTest.php
        -
            message: '~array{driverClass: ''stdClass''} given\.$~'
            path: tests/DriverManagerTest.php
        -
            message: '~^Call to static method PHPUnit\\Framework\\Assert\:\:assert(?:NotNull|Null|InstanceOf|IsFloat|IsInt)\(\) with .* will always evaluate to true\.$~'
            path: tests/Types/

        # DriverManagerTest::testDatabaseUrl() should be refactored as it's too dynamic.
        -
            message: '~^Offset string does not exist on array{.+}\.$~'
            paths:
                - tests/DriverManagerTest.php

        # There is no way to make this assertion in the code,
        # and the API doesn't support parametrization of returned column types.
        -
            message: '~^Method Doctrine\\DBAL\\Schema\\PostgreSQLSchemaManager::fetchTableOptionsByTable\(\) should return array<string, array<string, mixed>> but returns array<int\|string, array<string, mixed>>\.$~'
            paths:
                - src/Schema/PostgreSQLSchemaManager.php

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
