<?xml version="1.0" encoding="utf-8"?>
<!--
    Use this configuration file as a template to run the tests against any dbms.
    Procedure:
        1) Save a copy of this file with a name of your choosing. It doesn't matter
           where you place it as long as you know where it is.
           i.e. "mysqlconf.xml" (It needs the ending .xml).
        2) Edit the file and fill in your settings (database name, type, username, etc.)
           Just change the "value"s, not the names of the var elements.
        3) To run the tests against the database type the following from within the
           tests/ folder: phpunit -c <filename> ...
           Example: phpunit -c mysqlconf.xml
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
>
    <php>
        <ini name="error_reporting" value="-1" />

        <!--
            By default, the tests are run against SQLite.
            If you want to run them against another DBMS,
            see https://www.doctrine-project.org/projects/doctrine-dbal/en/stable/reference/testing.html#running-integration-tests-locally
        -->
    </php>

    <testsuites>
        <testsuite name="Doctrine DBAL Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
