name: "Coding Standards"

on:
  pull_request:
    branches:
      - "*.x"
    paths:
      - .github/workflows/coding-standards.yml
      - bin/**
      - composer.*
      - phpcs.xml.dist
      - src/**
      - tests/**
  push:
    branches:
      - "*.x"
    paths:
      - .github/workflows/coding-standards.yml
      - bin/**
      - composer.*
      - phpcs.xml.dist
      - src/**
      - tests/**

jobs:
  coding-standards:
    name: "Coding Standards"
    uses: "doctrine/.github/.github/workflows/coding-standards.yml@4.0.0"
